table {
    border-collapse: collapse; 
    table-layout: fixed; 
}

table * {
    -webkit-user-select: none; 
    user-select: none; 
}

td {
    border: 1px solid rgb(203, 203, 203);
    font-size: 14px;
    padding: 1px 3px;
}

tr:first-child td, td:first-child {
    border: 1px solid rgb(154, 154, 154);
    background-color: rgb(246, 246, 246);
    width: 80px;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

table td.highlight {
    background-color: rgb(190, 224, 252);
}

table td.anchor {
    border: 2px solid rgb(0, 0, 0);    
}

table td.selected {
    background-color: rgb(233, 240, 247);
}